<h1>Create new Survey</h1>
<div class="survey_creator">
  <h2>Survey Name:</h2>
  <input class="survey_name mousetrap">
  <ol class="question_list">

  </ol>
  <input type="submit" class="survey_submit">
</div>